*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --green: #62d65c;
    --green2: #43b55e;
    --dark-green: #25854a;
    --black: #151716;
    --white: #ffffff;
    --gray: #dfdfdf8a;
    --bradius: 10px;
    font-family: inherit;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* overflow: hidden; */
    background: black;
}