.button {
  display: block;
  background: rgb(73, 143, 209);
  padding: 10px 20px;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
}

.profiles {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}