.profile {
    background: #95d286ab;
    border: 1px solid #80808060;
    border-radius: 10px;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 11%);
    transition: 0.25s;
    cursor: pointer;
}

.profile:hover {
    background: green;
    transition: 0.25s;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    border-bottom: 1px solid #80808060;  
}

.name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.picture {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    border: 1px solid #80808060;
}

.blocks {
    padding: 10px 10px 10px 10px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 0 0 10px 10px;
}

.block > label {
    font-weight: 500;
    font-size: 13px;
}

.block > div {
    position: relative;
}

.block > div::after {
    /* content: ""; */
    display: block;
    position: absolute;
    top: 0px;
    /* left: 10px; */
    width: 1px;
    height: 100%;
    border-left: 1px solid #3f762866;   
}

.block span {
    display: block;
    /* padding-left: 20px; */
    font-size: 13px;
    /* font-weight: 500; */
    color: rgb(83, 77, 77);
}